body {
  background-color: rgb(230, 227, 227);
}

#title {
  text-align: center;
}

.jumbotron {
  background-color: rgb(136, 253, 146);
  font-family: garamond;
  font-weight: bolder;
}

.panel-heading {
  background-color: lightskyblue;
}

#erik {
  width: 200px;
  float: left;
  padding-right: 30px;
  border-style: solid;
  border: black;
  border-width: 5px;
}

h6 {
  font-weight: bold;
}