body {
  background-color: rgb(0, 0, 63);
}

#title {
  text-align: center;
}

.jumbotron {
  background-color: rgb(136, 253, 146);
  font-family: garamond;
  font-weight: bolder;
}

.panel-heading {
  background-color: lightskyblue;
}

#erik {
  width: 200px;
  float: left;
  padding-right: 30px;
  border-style: solid;
  border: black;
  border-width: 5px;
}

h6 {
  font-weight: bold;
  line-height: 0px;
  margin-top: 10px;
}

ul {
  padding: 0;
}

li  {
  list-style-type: none;
}

#language-first {
  margin-bottom: 0px;
}

#language-second {
  margin-top: 0px;
}